*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    width: 100vw;

}
.container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100vw;
    background-color: #ddd;


}

div{
    background-color: #eee;
    width: calc(100% / 16);
    /* height: calc(100% / 16); */
    aspect-ratio: 1 / 1;
    
    border: 1px solid black;
    
}

.hover{
    background-color: rgb(180, 180, 180);
}